<!DOCTYPE html>
<html class="" lang="en">
    {% include "header.html" %}
    <nav>
      <div class="tab">
        <ul>
          <li><strong id="navPageName">PWA Testing App</strong></li>
          <li><button class="tablinks" id="mediaBtn">Media Capture</button></li>
          <li><button class="tablinks" id="geolocationBtn">Geolocation</button></li>
          <li><button class="tablinks" id="notifBtn">Notifications</button></li>
          <li><button class="tablinks" id="barcodeBtn">Barcodes/QR</button></li>
          <li><button class="tablinks" id="multiBtn">Multi Touch</button></li>
          <li><button class="tablinks" id="motionBtn">Motion</button></li>
          <li><button class="tablinks" id="viewBtn">View Transitions</button></li>
          <li><button class="tablinks" id="wakeBtn">Wake Lock</button></li>
        </ul>
      </div>
  </nav>
  <body>
    <p>This is a simple web app created to practice implementing Progressive Web Apps (PWA), and other web technologies.</p>
    <p>Click one of the feature tabs to see it.</p>
      <main>
          <div class="tabcontent" id="MediaCapture">
            <p>
              Media capture types:
              <p>
                <label for="soundFile">What does your voice sound like?:</label>
                <input type="file" id="soundFile" capture="user" accept="audio/*" />
              </p>
              <p>
                <label for="videoFile">Upload a video:</label>
                <input type="file" id="videoFile" capture="environment" accept="video/*" />
              </p>
              <p>
                <label for="imageFile1">Upload a photo of yourself (opens file upload):</label>
                <input type="file" id="imageFile1" accept="image/*" />
              </p> 
              <p>
                <label for="imageFile2">Upload a photo of yourself (opens camera on mobile):</label>
                <input type="file" id="imageFile2" capture="user" accept="image/*" />
              </p> 
              Note: 
            </p>           
          </div>
          <div class="tabcontent" id="Geolocation">
            <button id="find-me">Show my location</button><br />
            <p id="status"></p>
            <a id="map-link" target="_blank"></a>
          </div>
          <div class="tabcontent" id="Notifications">
            Send a notification:
            <button id="notifButton">Send</button></br>
            Note: Not available on Firefox iOS, and on Safari the site must be added to home screen.
          </div>
          <div class="tabcontent" id="Barcodes">
            Barcodes
          </div>
          <div class="tabcontent" id="MultiTouch">
            Touch Events and multi-touch</br>
            <canvas id="canvas" width="600" height="600" style="border:solid black 1px;">
              Your browser does not support canvas elements.
            </canvas>
            <br />
            Log:
            <pre id="log" style="border: 1px solid #ccc;"></pre>              
          </div>
          <div class="tabcontent" id="Motion">
            Motion
          </div>
          <div class="tabcontent" id="ViewTransitions">
            <p id="viewTransitionStatus"></p>
            <input type="checkbox" id="transitionCheckbox">
            <label for="transitionCheckbox">Use view transitions when switching feature tabs.</label>
          </div>
          <div class="tabcontent" id="WakeLock">
            <p id="wakeStatus"></p>
            <input type="checkbox" id="wakeCheckbox">
            <label for="wakeCheckbox">Prevent device from going to sleep.</label>
          </div>
      </main>
  </body>
  <script type=module>
    import {handleStart, handleMove, handleCancel, handleEnd, log, geoFindMe,
    notificationButton, requestWakeLock, releaseWakeLock} from "/static/main.js";
    function startup() {
      const el = document.getElementById("canvas");
      el.addEventListener("touchstart", handleStart);
      el.addEventListener("touchend", handleEnd);
      el.addEventListener("touchcancel", handleCancel);
      el.addEventListener("touchmove", handleMove);
      log("Initialized.");
    }
    // Tabs setup
    document.addEventListener("DOMContentLoaded", startup);
    document.querySelector("#mediaBtn").addEventListener("click", function() {updateTab(event, "MediaCapture");});
    document.querySelector("#geolocationBtn").addEventListener("click", function() {updateTab(event, "Geolocation");});
    document.querySelector("#notifBtn").addEventListener("click", function() {updateTab(event, "Notifications");});
    document.querySelector("#barcodeBtn").addEventListener("click", function() {updateTab(event, "Barcodes");});
    document.querySelector("#multiBtn").addEventListener("click", function() {updateTab(event, "MultiTouch");});
    document.querySelector("#motionBtn").addEventListener("click", function() {updateTab(event, "Motion");});
    document.querySelector("#viewBtn").addEventListener("click", function() {updateTab(event, "ViewTransitions");});
    document.querySelector("#wakeBtn").addEventListener("click", function() {updateTab(event, "WakeLock");});

    // Geolocation setup
    document.querySelector("#find-me").addEventListener("click", geoFindMe);
    document.querySelector("#find-me").addEventListener("tap", geoFindMe);

    // Notification setup
    document.querySelector("#notifButton").addEventListener("click", notificationButton);
    document.querySelector("#notifButton").addEventListener("tap", notificationButton);

    // Wake lock setup
    let wakeLock = null;
    const wakeBox = document.querySelector("#wakeCheckbox");
    if ("wakeLock" in navigator) {
      let isSupported = true;
      document.querySelector("#wakeStatus").textContent = "Screen Wake Lock API supported!";
    } else {
      wakeBox.disabled = true;
      document.querySelector("#wakeStatus").textContent = "Wake lock is not supported by this browser.";
    } 
    document.querySelector("#wakeCheckbox").addEventListener("change", function () {
      if (this.checked) {
        requestWakeLock();
        console.log("wake lock checked");
      }
      else { console.log("wake lock unchecked"); releaseWakeLock(); }
    });
    
    // View Transition setup 
    const transitionBox = document.querySelector("#transitionCheckbox");
    if (!document.startViewTransition) { 
      transitionBox.disabled = true;
      document.querySelector("#viewTransitionStatus").textContent = "View Transitions not supported by this browser.";
    }
    else { document.querySelector("#viewTransitionStatus").textContent = "View Transitions are supported!."; }
    document.querySelector("#transitionCheckbox").addEventListener("change", function () {
      if (this.checked) {
        console.log("view transitions checked");
      }
      else { console.log("view transitions uchecked"); }
    });
    // End setup work
  </script>
</html> 